spring:
  datasource:
    url: jdbc:postgresql://localhost:${POSTGRES_PORT}/${DB_NAME_DEV}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true