spring:
  datasource:
    url: jdbc:postgresql://db:5432/${DB_NAME_PROD}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
        show_sql: false